.root {
    -fx-font-family: "Georgia", "Times New Roman", serif;
    -fx-background-color: #eae0c1; 
}
.border-pane {
    -fx-background-color: #eae0c1; 
}

.border-pane .center {
    -fx-background-color: #eae0c1;
    -fx-alignment: center;
}

.game-control-bar {
    -fx-background-color: linear-gradient(to bottom, #eae0c1, #dfd1a9);
    -fx-border-color: #8c765c;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-min-width: 280px;
    -fx-pref-width: 280px;
    -fx-max-height: 550px; 
    -fx-padding: 20px 15px 20px 15px;
    -fx-max-height: 650px;
    -fx-effect: dropshadow(three-pass-box, rgba(40, 30, 20, 0.25), 10, 0, 0, 4);
}

.game-status {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #3d3124; 
    -fx-padding: 0 0 15px 0; 
}

.button {
    -fx-background-color: #3d3124;
    -fx-text-fill: #f5eccd;
    -fx-font-family: "Georgia", serif;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-color: #8c765c;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-padding: 8px 15px 8px 15px; 
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(40, 30, 20, 0.3), 4, 0, 0, 2);
}

.button:hover {
    -fx-background-color: #594939;
    -fx-border-color: #b39b7d;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(40, 30, 20, 0.5), 6, 0, 0, 3);
}

.button:pressed {
    -fx-background-color: #241c14;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
}

.button:disabled {
    -fx-background-color: #bfae93;
    -fx-border-color: #9c8b74;
    -fx-text-fill: #7d6e59;
    -fx-opacity: 0.6;
    -fx-cursor: default;
    -fx-effect: null;
}


.button.secondary-button {
    -fx-background-color: #594939;
    -fx-border-color: #73604d;
    -fx-text-fill: #f5eccd;
    -fx-font-size: 13px;
    -fx-padding: 8px 14px 8px 14px;
}

.button.secondary-button:hover {
    -fx-background-color: #73604d;
    -fx-text-fill: #ffffff;
    -fx-border-color: #9c856f;
}

.button.secondary-button:pressed {
    -fx-background-color: #3d3124;
}

.button.secondary-button:disabled {
    -fx-background-color: #bfae93;
    -fx-text-fill: #7d6e59;
    -fx-opacity: 0.6;
}